In [55]:
import pandas as pd

In [56]:
df = pd.read_csv('PE_NASDAQ.csv')

In [57]:
df.head(3)

         Date  Value
0  01/01/2003  22.90
1  01/12/2002  23.10
2  01/11/2002  23.35

In [58]:
df.rename(columns={'Value': 'Shiller PE Ratio'}, inplace=True)

In [59]:
df.head(50)

          Date  Shiller PE Ratio
0   01/01/2003             22.90
1   01/12/2002             23.10
2   01/11/2002             23.35
3   01/10/2002             21.96
4   01/09/2002             22.36
5   01/08/2002             23.59
6   01/07/2002             23.46
7   01/06/2002             26.39
8   01/05/2002             28.13
9   01/04/2002             29.01
10  01/03/2002             30.29
11  01/02/2002             29.09
12  01/01/2002             30.28
13  01/12/2001             30.50
14  01/11/2001             30.01
15  01/10/2001             28.58
16  01/09/2001             27.67
17  01/08/2001             31.40
18  01/07/2001             32.16
19  01/06/2001             33.07
20  01/05/2001             34.07
21  01/04/2001             32.17
22  01/03/2001             32.32
23  01/02/2001             35.83
24  01/01/2001             36.98
25  01/12/2000             37.27
26  01/11/2000             38.78
27  01/10/2000             39.37
28  01/09/2000             41.89
29  01/08/2000             42.87
30  01/07/2000             42.75
31  01/06/2000             42.78
32  01/05/2000             41.96
33  01/04/2000             43.53
34  01/03/2000             43.22
35  01/02/2000             42.18
36  01/01/2000             43.77
37  01/12/1999             44.19
38  01/11/1999             43.21
39  01/10/1999             40.55
40  01/09/1999             41.32
41  01/08/1999             41.93
42  01/07/1999             43.83
43  01/06/1999             42.18
44  01/05/1999             42.55
45  01/04/1999             42.70
46  01/03/1999             41.35
47  01/02/1999             40.40
48  01/01/1999             40.57
49  01/12/1998             38.82

In [60]:
exported_values = list( df.T.to_dict().values() )

In [61]:
import json

In [62]:
# json.dumps(exported_values)

In [64]:
open('PE_NASDAQ.json','w').write(json.dumps(exported_values))

16594