In [ ]:
import pandas as pd

In [ ]:
df0 = pd.read_csv('Chart1data.csv')

In [ ]:
df0.head(5)

,All property types,Detached houses,Semi-detached houses,Terraced houses,Flats and maisonettes,Date
0,123002,261720,154879,119887,109870,1999-10-01
1,125792,267166,158051,123329,111981,1999-11-01
2,127918,265355,159147,124726,115071,1999-12-01
3,130411,280980,165413,127833,115506,2000-01-01
4,132705,279796,165391,129708,118641,2000-02-01

In [ ]:
df1 = df0.set_index(['Date'])

In [ ]:
df2 = df1.stack().reset_index()

In [ ]:
df3 = df2.rename(columns={'level_1':'Property Type',0:'Price' })

In [ ]:
df3.head(4)

         Date         Property Type   Price
0  1999-10-01    All property types  123002
1  1999-10-01       Detached houses  261720
2  1999-10-01  Semi-detached houses  154879
3  1999-10-01       Terraced houses  119887

In [ ]:
df3.to_csv("Chart1data_final.csv")